// Min-view: 375px
// Max-view: 1440px



// Primary colors.
$soft-red: #fe7867;
$yellow: #fad400;
$dark-desaturated-cyan: #25564b; // graphic design text
$dark-moderate-cyan: #458c7e; // footer
$dark-blue: #19536b; // photography text



// Neutral colors.
$very-dark-desaturated-blue: #23303e;
$very-dark-grayish-blue: #5a636c;
$dark-grayish-blue: #818498;
$grayish-blue: #a7abae;
$nav-btn-hover: #6fcdff;
$white: #ffffff;



// General colors.
$footer-bg: #90d4c5;
$card-white-bg: #fffbf8;



// Typography.
$ff-barlow: 'Barlow', sans-serif;
$fw-barlow-semi-bold: 600;

$ff-fraunces: 'Fraunces', serif;
$fw-fraunces-bold: 700;
$fw-fraunces-extra-bold: 900;