// Mobile min-view: 375px
// Desktop max-view: 1440px

// Primary colors.

$soft-red: #fe7867;
$yellow: #fad400;
$dark-desaturated-cyan: #25564b; // graphic design text
$dark-moderate-cyan: #458c7e; // footer
$dark-blue: #19536b; // photography text


// Neutral colors.
$very-dark-desaturated-blue: #23303e;
$very-dark-grayish-blue: #5a636c;
$dark-grayish-blue: #818498;
$grayish-blue: #a7abae;
$white: #ffffff;

$footer-bg: #90d4c5;
$card-white-bg: #fffbf8;
$nav-btn-hover: #6fcdff;



// Typography.
$ff-barlow: 'Barlow', sans-serif;
$fw-barlow-semi-bold: 600;

$ff-fraunces: 'Fraunces', serif;
$fw-fraunces-bold: 700;
$fw-fraunces-extra-bold: 900;