.footer-wrapper {
    background-color: $footer-bg;
    text-align: center;
    padding: 3rem 0;

    h3 {
        font-family: $ff-fraunces;
        font-weight: $fw-fraunces-extra-bold;
        font-size: 30px;
        color: darken($dark-moderate-cyan, 20%);
    }

    .footer-links {
        width: 65%;
        max-width: 350px;
        margin: 2rem auto 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer-link {
            text-decoration: none;
            font-family: $ff-barlow;
            font-size: 16.5px;
            color: $dark-moderate-cyan;
            cursor: pointer;
            transition: all 0.25s ease-in-out;

            &:hover {
                color: $card-white-bg;
            }
        }
    }


    .footer-social-icons {
        width: 45%;
        max-width: 200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            background: transparent;
            color: darken($dark-moderate-cyan, 15%);
            border: none;
            outline: none;
            font-size: 20px;
            cursor: pointer;
            transition: all 0.25s ease-in-out;

            &:hover {
                color: $card-white-bg;
            }
        }
    }
}