// Card with text outside of img.
.card-with-text-outside {
    width: 100%;
    margin: 0 auto;
    background-color: $card-white-bg;

    img {
        width: 100%;
    }

    .text-container {
        color: $very-dark-desaturated-blue;
        text-align: center;
        padding: 3rem 2rem;

        h2 {
            font-family: $ff-fraunces;
            font-weight: $fw-fraunces-extra-bold;
            font-size: 30px;
            line-height: 1.2;
        }

        p {
            font-family: $ff-barlow;
            font-size: 16px;
            line-height: 1.5;
            color: $dark-grayish-blue;
            margin: 1.5rem 0 2rem;
        }
    }
}






// ============ Card learn more btn. ============
%learn-more-btn {
    background: transparent;
    color: $very-dark-desaturated-blue;
    border: none;
    outline: none;
    font-family: $ff-fraunces;
    font-weight: $fw-fraunces-extra-bold;
    font-size: 14.5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    &:after {
        content: "";
        display: block;
        height: 7px;
        width: 110%;
        border-radius: 5px;
        margin: -0.35rem 0 0 -5%;
        z-index: -1;
    }
}

@mixin learn-more($color) {
    background-color: lighten($color, 17%);
}








// Card with text inside of img.
.card-text-inside {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding: 0 2rem 4rem;

    .card-text {
        h2 {
            font-family: $ff-fraunces;
            font-weight: $fw-fraunces-extra-bold;
            font-size: 30px;
            margin-bottom: 2rem;
        }

        p {
            font-family: $ff-barlow;
            font-size: 15px;
            line-height: 1.7;
        }
    }
}